@{
    ViewData["Title"] = "Redis";
}
<h1>@ViewData["Title"]</h1>

<p>Please enter the Redis Configuration Strings.</p>

<form asp-action="Index" asp-controller="Redis" method="post">
    <fieldset>
        <br />
        <h2>Configuration Strings Example</h2>
        <p>
            localhost<br />
            redis0:6380,redis1:6380,allowAdmin=true<br />
            localhost,serviceName=myprimary<br />
        </p>
        <div>
            <label for="config">Configuration Strings:</label>
            <input type="text" id="config" name="config" style="width: 100%;" value="@ViewBag.Config" />
        </div>
        <br />
        <div>
            <label>&nbsp;</label>
            @Html.AntiForgeryToken()
            <input type="submit" value="Test" class="submit" />
        </div>
    </fieldset>
</form>
<hr />
<fieldset>
    <legend>@ViewBag.RedisResult</legend>
    <textarea readonly style="width: 100%;height: 200px;">@ViewBag.RedisLog</textarea>
</fieldset>
